.headtext_news_first_page {
  margin-bottom: 2%;
  font-size: 70px;
  letter-spacing: 10px;
}

#container {
  background-color: rgba(141, 111, 111, 0);
  position: relative;
  width: 60%; /* Adjust width as needed */
  max-width: 100%;
  height: 600px; /* Adjust height as needed */
  overflow: hidden;
  margin: 40px auto;
  border-radius: 20px;
}

#imgs_container {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img_container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;

  transition: left 0.3s;
}

.img_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_text_overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 24px;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}
.img_text_overlay h1,
.img_text_overlay h2,
.img_text_overlay h3,
.img_text_overlay button {
  margin-bottom: 10px;
}
#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.493);
}

.overlay_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3%;
  height: 15%;
  border-radius: 20%;
  font-size: 2vw;
  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.2);
  color: rgb(185, 155, 155);
  top: 40%;
  cursor: pointer;
}
.news_text {
  width: 70%;
  margin: 17px;
  padding: 1em;
  font-size: 35px;
  font-weight: lighter;
}

#left_button {
  left: 2%;
}

#right_button {
  right: 2%;
}

@media screen and (min-width: 330px) and (max-width: 900px) {
  .headtext_news_first_page {
    font-size: 3em;
    letter-spacing: 7px;
  }

  #container {
    width: 100%;
    height: 400px;
  }
  .overlay_button {
    width: 5%;
    font-size: 7vw;
    font-weight: bolder;
  }
  .img_text_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 19px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  .news_text {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: lighter;
  }
}

@media only screen and (max-height: 568px) and (orientation: landscape) {
  .headtext_news_first_page {
    font-size: 3em;
    letter-spacing: 7px;
  }

  #container {
    width: 100%;
    height: 400px;
  }
  .overlay_button {
    width: 5%;
    font-size: 7vw;
    font-weight: bolder;
  }
  .img_text_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 19px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  .news_text {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: lighter;
  }
}
