.headtext_classes_first_page {
  width: 100%;
  font-size: 70px;
  margin-bottom: 4%;
  text-align: center;
  justify-content: center;
  display: flex;
  letter-spacing: 10px;
}

.classes_button {
  border-radius: 50%;
  padding: 20px;
  width: 250px;
  height: 250px;
  margin: 0 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e4dde717;
}

.classes_button img {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.classes_button_piano img {
  width: 190px;
  height: 190px;
}

.classes_button_violin img {
  width: 320px;
  height: 320px;
}
.classes_button_ukulele img {
  width: 3500px;
  height: 350px;
}

.classes_button_chello img {
  width: 300px;
  height: 300px;
}
.classes_button_viola img {
  width: 285px;
  height: 285px;
}
.classes_button_solfej img {
  width: 250px;
  height: 250px;
}

.classes {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin-left: 22em;
}

.classes_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 32px;
  letter-spacing: 5px;
}
.classes_button {
  color: #fd952d;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.9s ease,
    color 0.3s ease;
}

.classes_button:hover {
  transform: translateY(-0.55em);
  box-shadow: 0 0 0.7em 0em #807491;
}
.learn_more_news {
  background-color: #80749125;
  border: 1px solid #807491;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .classes_button_piano img {
    width: 179px;
    height: 179px;
  }

  .classes_button_violin img {
    width: 280px;
    height: 280px;
  }
  .classes_button_ukulele img {
    width: 300px;
    height: 300px;
  }

  .classes_button_chello img {
    width: 240px;
    height: 240px;
  }
  .classes_button_viola img {
    width: 220px;
    height: 220px;
  }
  .classes_button_solfej img {
    width: 200px;
    height: 200px;
  }
  .classes_button {
    width: 200px;
    height: 200px;
  }
  .classes_button {
    width: 200px;
    height: 200px;
  }
  .classes {
    width: 100%;
    margin-left: 0em;
  }
}
@media screen and (min-width: 330px) and (max-width: 1024px) {
  .classes_button_piano img {
    width: 179px;
    height: 179px;
  }

  .classes_button_violin img {
    width: 280px;
    height: 280px;
  }
  .classes_button_ukulele img {
    width: 300px;
    height: 300px;
  }

  .classes_button_chello img {
    width: 240px;
    height: 240px;
  }
  .classes_button_viola img {
    width: 220px;
    height: 220px;
  }
  .classes_button_solfej img {
    width: 200px;
    height: 200px;
  }
  .classes_button {
    width: 200px;
    height: 200px;
  }

  h2 {
    font-size: 26px;
  }
  .headtext_classes_first_page {
    font-size: 3em;
  }
  .classes {
    width: 100%;
    margin-left: 0em;
  }
}
@media only screen and (max-height: 568px) and (orientation: landscape) {
  .classes_button_piano img {
    width: 179px;
    height: 179px;
  }

  .classes_button_violin img {
    width: 280px;
    height: 280px;
  }
  .classes_button_ukulele img {
    width: 300px;
    height: 300px;
  }

  .classes_button_chello img {
    width: 240px;
    height: 240px;
  }
  .classes_button_viola img {
    width: 220px;
    height: 220px;
  }
  .classes_button_solfej img {
    width: 200px;
    height: 200px;
  }
  .classes_button {
    width: 200px;
    height: 200px;
  }

  h2 {
    font-size: 26px;
  }
  .headtext_classes_first_page {
    font-size: 3em;
  }
}
