/* .scholarship_section {
  background-image: url("/src/assets/bg_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 50px 0px;
  background-color: rgb(109, 36, 151, 0.5);
} */
