.scholarship_section {
  --bg-image: url("/src/assets/back_card.png");
  --bg-color: rgba(240, 235, 243, 0.3);
  --headtext-bg-color: #a293a88f;
  --text-color: #ffffff;
  --button-bg-color: #8d6f6f;
  --button-text-color: #ffffff;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0px 50px 0px;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 7% 0 0% 0;
}

.scholarship_section .headtext__cormorant_sholarship {
  padding: 50px 0 1px 0;
  background-color: var(--headtext-bg-color);
}

.scholarship_section .scholarship_text {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: var(--headtext-bg-color);
  line-height: 1.6rem;
}

.scholarship_section .button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.scholarship_section .scholarship_text_span {
  width: 50%;
  border-radius: 10px;
  font-size: 24px;
  transition: opacity 3s ease-in-out;
  word-spacing: 5px;
  letter-spacing: 3px;
}
@media screen and (max-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 650px;
  }
  .app__specialMenu-menu_img img {
    height: 920px;
  }
}
@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .app__specialMenu-menu_img {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 650px) {
  .scholarship_section .scholarship_text_span {
    font-size: 17px;
    width: 80%;
  }
}
