.news_page_section {
  background-image: url("/src/assets/bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.news_block {
  margin-bottom: 20px;
  border-radius: 18px;
  padding: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.089);
}

.headtext_cormorant_news {
  text-align: center;
  padding: 50px 0 1px 0;
  margin-bottom: 1em;
}

.headtext {
  font-family: "Cormorant", serif;
  font-size: 3.5rem;
}
.headtext_news {
  font-size: 6.5em;
  background-color: #e1d4e6b9;
  padding: 60px;
  letter-spacing: 15px;
}
.content_with_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e1d4e6b9;
  padding-bottom: 6rem;
}

.news_images {
  margin-top: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_img {
  width: 100%;
  max-width: 600px; /* Ensure the image doesn't get too large */
  border-radius: 10px;
}

.news_text {
  flex: 2;
  margin-left: 0;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-images,
.carousel-images-1,
.carousel-images-2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  flex-shrink: 0; /* Prevent images from shrinking */
  max-height: 450px; /* Adjust image height */
  object-fit: cover; /* Ensure images cover the container */
}
.carousel-images-1 img {
  flex-shrink: 0; /* Prevent images from shrinking */
  max-height: 550px; /* Adjust image height */
  width: 900px;
  object-fit: cover; /* Ensure images cover the container */
}
.carousel-images-2 img {
  flex-shrink: 0; /* Prevent images from shrinking */
  max-height: 500px; /* Adjust image height */
  width: 900px;
  object-fit: cover; /* Ensure images cover the container */
}

.carousel-prev,
.carousel-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.123);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 1px;
  z-index: 10;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 1024px) and (max-width: 1380px) {
  .headtext_news {
    font-size: 9em;
    background-color: #e1d4e6b9;
    padding: 30px;
    letter-spacing: 15px;
  }
  .news_text {
    flex: 2;
    margin-left: 0;
    font-size: 2.3em;
    line-height: 2em;
  }
  .news_img {
    width: 100%;
    max-width: 497px;
    border-radius: 10px;
  }
  .content_with_image {
    flex-direction: column;
  }
  .carousel {
    position: relative;
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-images,
  .carousel-images-1,
  .carousel-images-2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-images img {
    flex-shrink: 0;
    max-height: 630px;
    width: 590px;
    object-fit: cover;
  }
  .carousel-images-1 img {
    flex-shrink: 0;
    max-height: 655px;
    width: 1000px;
    object-fit: cover;
  }
  .carousel-images-2 img {
    flex-shrink: 0;
    max-height: 670px;
    width: 590px;
    object-fit: cover;
  }
  .carousel-prev,
  .carousel-next {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1px;
    z-index: 10;
  }

  .carousel-prev {
    left: 0;
  }

  .carousel-next {
    right: 0;
  }

  .carousel-prev:hover,
  .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.events {
  margin-bottom: 20px;
  width: 70%;
  font-size: 3em;
  letter-spacing: 0px;
  margin-right: 50px;
  line-height: 1em;
}

@media screen and (min-width: 330px) and (max-width: 1024px) {
  .headtext_news {
    font-size: 3em;
    background-color: #e1d4e6b9;
    padding: 30px;
    letter-spacing: 15px;
  }
  .news_img {
    width: 100%;
    max-width: 329px;
    border-radius: 10px;
  }
  .content_with_image {
    flex-direction: column;
  }

  .news_block {
    padding: 0px;
  }
  .carousel {
    position: relative;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0.5px;
  }

  .carousel-images,
  .carousel-images-1,
  .carousel-images-2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-images img {
    flex-shrink: 0;
    max-height: 430px;
    width: 351px;
    object-fit: cover;
  }
  .carousel-images-1 img {
    flex-shrink: 0;
    max-height: 305px;
    width: 500px;
    object-fit: cover;
  }
  .carousel-images-2 img {
    flex-shrink: 0;
    max-height: 380px;
    width: 500px;
    object-fit: cover;
  }

  .carousel-prev,
  .carousel-next {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1px;
    z-index: 10;
  }

  .carousel-prev {
    left: 0;
  }

  .carousel-next {
    right: 0;
  }

  .carousel-prev:hover,
  .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .subtext_program {
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }
  .events {
    margin-left: 50px;
    line-height: 1em;
  }
}

@media only screen and (max-height: 568px) and (orientation: landscape) {
  .headtext_news {
    font-size: 3.5em;
    background-color: #e1d4e6b9;
    padding: 30px;
    letter-spacing: 15px;
  }
  .news_img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  .content_with_image {
    flex-direction: column;
  }
  .subtext_program {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  .text_news {
    line-height: 2em;
  }
  .carousel {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-images,
  .carousel-images-1,
  .carousel-images-2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-images img {
    flex-shrink: 0;
    max-height: 400px;
    width: 500px;
    object-fit: cover;
  }
  .carousel-images-1 img {
    flex-shrink: 0;
    max-height: 285px;
    width: 900px;
    object-fit: cover;
  }
  .carousel-images-2 img {
    flex-shrink: 0;
    max-height: 300px;
    width: 900px;
    object-fit: cover;
  }

  .carousel-prev,
  .carousel-next {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.123);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1px;
    z-index: 10;
  }

  .carousel-prev {
    left: 0;
  }

  .carousel-next {
    right: 0;
  }

  .carousel-prev:hover,
  .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
