.news_page_section {
  background-image: url("/src/assets/bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.news_block {
  margin-bottom: 20px;
  border-radius: 18px;
  padding: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.089);
}

.headtext_cormorant_news {
  text-align: center;
  padding: 50px 0 1px 0;
  margin-bottom: 1em;
}

.headtext {
  font-family: "Cormorant", serif;
  font-size: 3.5rem;
}
.headtext_news {
  font-size: 6.5em;
  background-color: #e1d4e6b9;
  padding: 60px;
  letter-spacing: 15px;
}
.content_with_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e1d4e6b9;
  padding-bottom: 6rem;
}

.news_images {
  margin-top: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_img {
  width: 100%;
  max-width: 500px; /* Ensure the image doesn't get too large */
  border-radius: 10px;
}

.news_text {
  flex: 2;
  margin-left: 0;
}
