.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.divider__content {
  position: relative;
  padding: 20px;
  text-align: center;
}

.divider__content::before,
.divider__content::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: rgb(78, 167, 196);
  transition: width 4s ease-in-out;
}

.divider__content::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.divider__content::after {
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.divider__content.loaded::before {
  width: 100%;
  left: 0;
  transform: translateX(0);
}
.divider__content.loaded::after {
  width: 100%;
  right: 0;
  transform: translateX(0);
}

.quote {
  font-style: italic;
  font-size: 25px;
  color: #d1b0cd;
}

.quoted {
  color: #d1b0cd;
  font-size: 25px;
}

@media screen and (min-width: 330px) and (max-width: 900px) {
  .quote {
    font-size: 18px;
  }

  .quoted {
    font-size: 18px;
  }
}
