.program_page_section {
  background-image: url("/src/assets/rainbow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.program_block {
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px;
}

.headtext_cormorant_program {
  text-align: center;
  padding: 50px 0 1px 0;
}

.headtext {
  font-family: "Cormorant", serif;
  font-size: 3.5rem;
  background-color: none;
}

.content_with_image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--headtext-bg-color);
  padding-bottom: 6rem;
}

.summer_program_text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.program_images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7em;
}

.program_img,
.program_img2,
.program_img3,
.program_img4 {
  width: 400px;
  height: 400px;
  margin: 20px;
}
.program_img {
  transform: rotate(-5deg) translateX(10px);
  transition: transform 0.3s ease-in-out;
}
.program_img:hover {
  transform: rotate(5deg) translateX(-10px);
}
.program_img2 {
  transform: rotate(5deg) translateX(10px);
  transition: transform 0.3s ease-in-out;
}
.program_img2:hover {
  transform: rotate(15deg) translateX(-15px);
}
.program_img3 {
  transform: rotate(-5deg) translateX(10px);
  transition: transform 0.3s ease-in-out;
}
.program_img3:hover {
  transform: rotate(5deg) translateX(-10px);
}
.program_img4 {
  margin-bottom: 10px;
  transform: rotate(10deg) translateX(10px);
  transition: transform 0.3s ease-in-out;
}
.program_img4:hover {
  transform: rotate(-5deg) translateX(10px);
}

.muzieknootjes {
  display: flex;
  justify-content: center;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  font-size: 2rem;
  margin: 5px;
}
.sign_up_program {
  margin: 20px 0 0 15px;
  background-color: #eeb8c8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
  font-size: 20px;
}
@media screen and (max-width: 650px) {
  .content_with_image {
    background-color: rgba(240, 235, 243, 0.753);
  }

  .content_with_image {
    flex-direction: column;
    align-items: center;
  }

  .program_img,
  .program_img2,
  .program_img3,
  .program_img4 {
    width: 180%;
    max-width: 180px;
    height: auto;
    margin-top: 0;
  }

  .program_images {
    flex-direction: column;
    margin-top: 10px;
  }

  .summer_program_text {
    margin: 10px;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .headtext {
    margin-bottom: 1em;
    text-align: center;
  }

  .sign_up_program {
    margin: 60px 0 0px 0;
    width: 80%;
    font-size: 20px;
    text-align: center;
  }
}
