.app__footer {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--color-black);
  padding-top: 0;
}

.app__footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;
  padding: 0 2rem;
}

.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_work {
  font-size: 20px;
  flex: 1;
  margin: 1rem;
  text-align: center;
}

.app__footer-links_logo img:first-child {
  width: 250px;
  margin-bottom: 0.75rem;
}

.app__footer-links_work p:nth-child(2n + 1) {
  margin-bottom: 1rem;
}

.app__footer-links_icons {
  margin-top: 0.5rem;
}

.app__footer-links_icons svg {
  color: var(--color-white);
  margin: 0em 1em 0em 1rem;
  font-size: 3em;
  cursor: pointer;
}

.app__footer-links_icons svg:hover {
  color: var(--color-golden);
}

.app__footer-headtext {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 41.6px;
  margin-bottom: 1rem;
}

.p__opensans_quote {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 100;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 40px;
  font-size: 1.4em;
}

.footer__copyright {
  margin-top: 3rem;
}

.contact {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.contact::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.5px;
  background-color: rgb(255, 255, 255);
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

.contact:hover::before {
  width: 100%;
  left: 0;
  transition: width 0.3s ease-out, left 0.3s ease-out;
}

@media screen and (min-width: 2000px) {
  .app__footer-headtext {
    font-size: 51px;
    line-height: 61px;
  }
}

@media screen and (max-width: 1150px) {
  .app__footer-links {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .app__footer-links_contact .app__footer-links_logo .app__footer-links_work {
    margin: 2rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .app__footer {
    padding: 0 0 2rem 0;
  }
  .p__opensans_quote {
    line-height: 40px;
    font-size: 0.9em;
  }
  .app__footer-links_icons svg {
    font-size: 2em;
  }
  .app__footer-headtext {
    font-size: 36px;
  }
  .app__footer-links_logo img:first-child {
    width: 220px;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 300px) {
  .app__footer-links_logo img:first-child {
    width: 80%;
  }
}
