.map_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 550px;
  gap: 0;
  margin: 2em 4em 0em 6em;
}

.map_wrapper {
  width: 50%;
  height: 100%;
}
.address {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0em 10em 1em 1em;
}

@media screen and (max-width: 650px) {
  .map_container {
    flex-direction: column;
    width: 130%;
    gap: 10px;
    margin: 2em 7em 28em 0em;
  }
  .address {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 21em 0em 2em 0em;
    font-size: 1.3em;
  }
  .map_wrapper {
    width: 50%;
    height: 80%;
  }
}
@media only screen and (max-height: 568px) and (orientation: landscape) {
  .map_container {
    width: 110%;
    height: 890px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.7em 2em 2em 2em;
  }

  .map_wrapper {
    width: 100%;
    height: 135%;
    margin: 0;
    padding: 0;
    margin: 1.7em 2em 0em 2em;
  }
  .address {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10em 4em 2em 0em;
    font-size: 1.3em;
  }
}
