.app__header {
  background-image: url("../../assets/stefanov_music_logo_1.JPG");
  background-color: var(--color-black);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.app__header.app__wrapper.section__padding {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
    font-size: 180px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 850px) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .app__header {
    margin: 0 auto;
    background-size: 80px;
    background-position: center;
    background-attachment: scroll;
    overflow: hidden;
  }
  .app__video {
    overflow: hidden;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .app__header {
    background-image: url("../../assets/stefanov_music_logo_1.JPG");
    background-size: 80px;
    background-size: cover;
    background-position: center;
    /* background-attachment: scroll; */
  }
}
