.headtext_langclasses_first_page {
  margin-top: 2em;
  margin-bottom: 6em;
  width: 100%;
  font-size: 70px;
  margin-bottom: 2%;
  text-align: center;
  justify-content: center;
  display: flex;
  letter-spacing: 10px;
}
@media screen and (min-width: 330px) and (max-width: 900px) {
  .headtext_langclasses_first_page {
    margin-top: 2em;
    margin-bottom: 6em;
    width: 100%;
    font-size: 3em;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    display: flex;
    letter-spacing: 10px;
  }
}
