.scholarship_page_section {
  background: url("../../assets/bg_13.png") center/cover no-repeat fixed;
  width: 100%;
  height: 100%;
}

.scholarship_block {
  padding-bottom: 22em;
  border-radius: 8px;
  padding: 20px;
}
.headtext_cormorant_scholarship {
  text-align: center;
  padding: 50px 0 0px 0;
}
.scholarship_text {
  margin: 5em 0em 10em 13em;
  padding: 0em 7em 7em 7em;
  justify-content: center;
  text-align: center;
  width: 70%;
  font-size: 1.7rem;
  line-height: 2.5em;
  border: 4px solid rgb(209, 184, 203);
  border-radius: 14px;
  background-color: rgba(252, 252, 252, 0.548);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
}

.sign_up_scholarship {
  width: 30%;
  background-color: rgb(209, 184, 203);
}
