.scholarship__section {
  background: url("../../assets/solfej_bg.png") center/cover no-repeat fixed;
  width: 100%;
  height: 100%;
}
.headtext_scholarship {
  font-size: 3.5em;
  padding: 60px;
  letter-spacing: 15px;
}

.scholarship__block {
  padding-bottom: 22em;
  border-radius: 8px;
  padding: 20px;
}
.headtext_cormorant_scholarship {
  text-align: center;
  padding: 50px 0 0px 0;
}
.scholarship__text {
  margin: 3em 0em 7em 13em;
  padding: 0em 7em 7em 7em;
  justify-content: center;
  text-align: center;
  width: 70%;
  font-size: 1.7rem;
  line-height: 2.5em;
  border: 4px solid rgb(209, 184, 203);
  border-radius: 14px;
  background-color: rgba(252, 252, 252, 0.904);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3.4px);
}

.sign_up_scholarship {
  width: 30%;
  background-color: rgb(209, 184, 203);
}

.scholarship_quote {
  font-family: var(--font-alt);
  font-weight: 100;
  letter-spacing: 0.04em;
  line-height: 40px;
  font-size: 1em;
  font-style: italic;
}
.scholarship_quoted {
  margin-top: 0.5em;
  font-family: var(--font-alt);
}

/*changed the res into two queries for bigger screens*/

@media screen and (min-width: 810px) and (max-width: 1374px) {
  .headtext_cormorant_scholarship {
    text-align: center;
  }
  .headtext_scholarship {
    font-size: 2em;
    padding: 35px;
    letter-spacing: 13px;
  }
  .scholarship__block {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .scholarship__text {
    margin: 4em 0em 10em 0em;
    padding: 0em 0em 1em 0em;
    width: 100%;
    font-size: 27px;
  }
  .sign_up_scholarship {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .headtext_cormorant_scholarship {
    text-align: center;
  }
  .headtext_scholarship {
    font-size: 2em;
    padding: 35px;
    letter-spacing: 13px;
  }
  .scholarship__block {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .scholarship__text {
    margin: 4em 0em 10em 0em;
    padding: 0em 0em 1em 0em;
    width: 98%;
    font-size: 17px;
  }
  .sign_up_scholarship {
    width: 80%;
  }
}

@media only screen and (max-height: 568px) and (orientation: landscape) {
  .headtext_cormorant_scholarship {
    text-align: center;
  }
  .headtext_scholarship {
    font-size: 3em;
    padding: 35px;
    letter-spacing: 13px;
  }
  .scholarship__block {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .scholarship__text {
    margin: 4em 0em 10em 0em;
    padding: 0em 0em 1em 0em;
    width: 98%;
    font-size: 18px;
  }
  .sign_up_scholarship {
    width: 80%;
  }
}
