body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(141, 111, 111);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(240, 235, 243, 0.5);
  text-align: center;
  margin-top: 2rem;
  overflow-x: hidden;
}

.about_school {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.headtext_about_school {
  padding: 50px 0 50px 0;
  font-size: 70px;
  word-spacing: 10px;
  letter-spacing: 5px;
  transition: opacity 3s ease-in-out;
  animation: slideInFromRight 7s ease-out;
}

.about_school_text {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 20%;
  word-spacing: 5px;
  letter-spacing: 2px;
  transition: opacity 3s ease-in-out;
  animation: slideInFromLeft 7s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 650px;
  }
  .app__specialMenu-menu_img img {
    height: 920px;
  }
}
@media screen and (max-width: 1150px) {
  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .app__specialMenu-menu_img {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 650px) {
  .headtext_about_school {
    font-size: 36px;
    animation: none;
    transition: opacity 3s ease-in-out;
    animation: slideInFromRightMobile 7s ease-out;
  }
  .about_school_text {
    width: 80%;
    animation: none;
    transition: opacity 3s ease-in-out;
    animation: slideInFromLeftMobile 7s ease-out;
  }

  @keyframes slideInFromRightMobile {
    0% {
      transform: translateX(1%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromLeftMobile {
    0% {
      transform: translateX(-1%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
